html {
  font-size: $html-fz;
}

body {
  min-height: 100vh;
}

.page-wrapper {
  /**
  Нужно, чтобы прижать футер к нижней части экрана
   */
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  > {
    main {
      flex: 1 0 auto;
    }

    footer, nav, header {
      flex-shrink: 0;
    }
  }
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.hide {
  position: absolute;
  z-index: -9999;
  width: 0;
  height: 0;
  max-width: 0;
  opacity: 0;
  visibility: hidden;
}


.responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

  &-sizer {
    display: block;
    padding-top: 100%;
  }
}

.responsive-bsizer {
  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}

