$html-fz: 14px;
$line-height-base: 1.5;
$font-size-base: 1rem;
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base: 'Poppins', $font-family-sans-serif;
$body-bg: #181A29;
$body-color: #EEECEC;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1220px,
  xxl: 1380px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1210px,
  xxl: 1370px
);
$green: #44D7B6;
$orange: #FF8E1E;
$primary: #44D7B6;

$btn-font-family: null;
$btn-font-weight: null;
$btn-height: 38px;
$btn-font-size: 13px;
$btn-padding-x: 26px;
$btn-line-height: lh($btn-font-size, 18px);
$btn-border-width: 0;
$btn-border-radius: 6px;
$btn-color: $body-color;
$btn-bg-color: #222438;
$btn-bg-color-hover: #323652;
$btn-white-space: nowrap;
$btn-transition: .2s;
$btn-disabled-opacity: .5;

$link-color: inherit;
$link-hover-color: inherit;
$link-decoration: underline;
$link-hover-decoration: none;

$nav-logo-height: 51px;
$nav-logo-width: 160.5px;

$table-cell-padding: 13px;
$table-color: $body-color;
$table-bg: #23263f;
$table-thead-bg: #323652;
$table-max-height: 600px;
$table-border-width: 1px;
$table-border-color: #323652;
$table-border-radius: 6px;
$table-caption-color: #C1C2C9;
$table-cell-padding: 10px;
$table-cell-padding: 10px;

$text-muted: #878EA1;

$input-height: 42px;
$input-bg: #D8D8D8;
$input-color: #000000;
$input-border-radius: 6px;
$input-font-size: 13px;
$label-margin-bottom: 5px;
$form-group-margin-bottom: 22px;
$form-text-margin-top: 6px;
$input-padding-x: 16px / 14px * 1rem;

$modal-content-bg: linear-gradient(185.56deg, #23263F -126.29%, #22253B 250.84%);

$red: #FF1C1C;
